# Output folders
results/
demo_results/
rawdata_analysis/

# R temporary files
.Rhistory
.RData
.Rproj.user/
*.RData
*.rds
*.RDS

# macOS system files
.DS_Store

# Raw sequencing and alignment files
*.fastq
*.fq
*.fastq.gz
*.fq.gz
*.sam
*.bam
*.bai

# Large genome signal files
*.bw
*.bigWig
*.bedGraph
*.bedGraph.gz

# Keep small demo bigWig files
!demo_data/ATACseq_Fig4_SFig4_SFig5_demo/IGVgene_demo/bigwig_demo/*_demo.bw

# Keep small HSPC reference comparison demo Seurat objects
!demo_data/HSPC_reference_comparison_SFig1_a_b_demo/*.rds
!demo_data/HSPC_reference_comparison_SFig1_a_b_demo/*.RDS